#head-li-first {
    color: red;
}

.body {
    background-color:#1076dc;
}

#head-li {
    color: white;
}

.jumbotron-bg {
    background-color: rebeccapurple;
    text-align: center;
   
}
.jumbotron-bg > h1 {
    color: red;
}

.h3-hakkimizda{
    color: rgb(108, 108, 52);
    font-family: 'Roboto', sans-serif;
}
.h3-hakkimizda-title {
    color: rgb(108, 108, 52);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.ul-style-center {
    list-style-position: inside;
    font-family: 'Roboto', sans-serif;
}

.h3-center{
    color: purple;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.hakkimizda-div-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.card-specs{
    text-align: left;
    width: 250px;
}
.container-margin{
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-title-spec{
    font-size: .85em;
    font-weight: bold;
    color: blueviolet;
}

.card-price{
    font-size: .80em;
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}
.card-small-text{
    font-size: .80em;
}

